html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-color: grey;
}

.wrapper-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url('../public/images/stars-bg-90.jpg');
  background-size: cover; 

}

.main-headers {
  display: flex;
  flex-direction: column;
}
.welcome-h1,
.space-h2 {
  font-size: 3.6rem;
}
