@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;600&display=swap');
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat';
  letter-spacing: 0.14rem;
  margin: 0 auto;
  background-color: black;
}

.wrapper-main {
  height: 100vh;
  color: white;
  background-image: url('../public/images/stars-bg-90.jpg');
  background-size: cover;
}
